<style>
#hero{padding:200px;padding-top:15%;}
.btest{padding: 0 0.6em 0.2em;height: inherit;font-size: inherit;}
.splash{width:auto;}
</style>	
 
<section>
  <div id="hero">
    <h1>Ejecuta tus modelos de Lingo® via web</h1>
    <h2>* solo por una cantidad determinada de variables</h2>
    <h2>
      <form accept-charset="UTF-8" action="/models" class="splash" id="new_model" method="post">
        <div>
          <input name="utf8" type="hidden" value="✓">
          <input name="authenticity_token" type="hidden" value="t7bPc9NCuteU4a2SKzP1GAnX0ysFqnFAlx7/S27A4LU=">
        </div>
        <div class="string"><p>
          Realiza una <a href="/models/test" class="button btest nephritis">prueba</a> 
        </p></div>
      </form>
    </h2>
  </div>
</section>


