<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LaaS </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900' rel='stylesheet' type='text/css'>
    <link href="/css/styles.css" media="all" rel="stylesheet" type="text/css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header id="header">
      <h1 class="float left">
        <a href="/">›› LaaS</a>
      </h1>
    </header>
    <%= content %>
  </body>
</html>

