<table>
  <thead>
    <tr>
      <th>Lingo Result</th>
      <th></th>
      <th></th>
    <tr>
  </thead>
  <tbody>
  <% @content.split("\n").each do |line| %>
    <tr>
    <%line.split(/\s{2,}/)[1..3].each do |cell|%>
      <td><%= cell%></td>
    <%end%>
    </tr>
  <%end%>
  </tbody>
</table>
